<div class="map"
  leaflet
  (leafletMapReady)="onMapReady($event)"
  [leafletOptions]="options"
  [leafletLayers]="layers"
  [leafletLayersControl]="layersControl"
  [leafletMarkerCluster]="markerClusterData"
  [leafletMarkerClusterOptions]="markerClusterOptions"
  (leafletMarkerClusterReady)="markerClusterReady($event)">
</div>

<app-organisms
  *ngIf="!isFetchingOrganisms"
  [organisms]="organisms_data">
</app-organisms>

<app-specimens
  *ngIf="!isFetchingSpecimens"
  [specimens]="specimens_data">
</app-specimens>
