
<div class="map"
  leaflet
  leafletDraw
  (leafletMapReady)="onMapReady($event)"
  [leafletOptions]="options"
  [leafletLayers]="layers"
  [leafletLayersControl]="layersControl"
  [leafletMarkerCluster]="markerClusterData"
  [leafletMarkerClusterOptions]="markerClusterOptions"
  (leafletMarkerClusterReady)="markerClusterReady($event)"
  [leafletDrawOptions]="drawOptions"
  (leafletDrawCreated)="onDrawCreated($event)"
  (leafletDrawStart)="onDrawStart($event)"
  (leafletDrawDeleted)="onDrawDeleted($event)">

    <!-- leaflet.draw layer -->
    <div [leafletLayer]="drawnItems"></div>

</div>

<br>

<mat-accordion [multi]="true">

  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title>
        List of Organisms
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-organisms
      *ngIf="!isFetchingOrganisms"
      [geoOrganisms]="organismsData"
      (selectedOrganism)="onSelectedOrganism($event)">
    </app-organisms>

  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">

    <mat-expansion-panel-header>
      <mat-panel-title>
        List of Specimens
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-specimens
      *ngIf="!isFetchingSpecimens"
      [geoSpecimens]="specimensData"
      (selectedSpecimen)="onSelectedSpecimen($event)">
    </app-specimens>

  </mat-expansion-panel>

</mat-accordion>
