<div class="map"
  leaflet
  (leafletMapReady)="onMapReady($event)"
  [leafletOptions]="options"
  [leafletLayers]="layers"
  [leafletLayersControl]="layersControl"
  [leafletMarkerCluster]="markerClusterData"
  [leafletMarkerClusterOptions]="markerClusterOptions"
  (leafletMarkerClusterReady)="markerClusterReady($event)">
</div>

<div *ngIf="!isFetchingOrganisms">
  <div *ngFor="let organism of organisms_data">
    <p>{{ organism.id }}</p>
  </div>
</div>

<div *ngIf="!isFetchingSpecimens">
  <div *ngFor="let specimen of specimens_data">
    <p>{{ specimen.id }}</p>
  </div>
</div>
